{% extends 'base.html.twig' %}

{% block title %}Champion index{% endblock %}

{% block body %}
    <h1>Champion index</h1>

 <a href="{{ path('app_champion_new') }}">Create new</a>
 <a href="{{ path('app_champion_update')}}">Update</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Role</th>
                <th>Splash_art</th>
                <th>ChampionKey</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for champion in champions %}
            <tr>
                <td>{{ champion.id }}</td>
                <td>{{ champion.name }}</td>
                <td>{{ champion.description }}</td>
                <td>{{ champion.role }}</td>
                <td><img src="{{ champion.splashArt }}" alt=""></td>
                <td>{{ champion.championkey }}</td>
                <td>
                    <a href="{{ path('app_champion_show', {'id': champion.id}) }}">show</a>
                    <a href="{{ path('app_champion_edit', {'id': champion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
