{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="flex flex-col justify-center items-center min-h-screen w-full text-[#202020] dark:text-[#F1F1F1]">
        <div class="flex flex-col bg-white dark:bg-[#494A56] w-5/6 lg:w-1/2 rounded-lg py-10 px-10 md:px-20 lg:px-32 my-20">
            <h1 class="text-4xl font-bold text-center mb-10">Register</h1>
            
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password :'
                }) }}
                {{ form_row(registrationForm.confirmationPassword, {
                    label: 'Confirmation password :'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}
                {{ form_errors(registrationForm) }}
                <a href="{{ path('app_login') }}" class="underline mt-[-30px] mb-10">Already have an account ?</a>
                {% for message in app.flashes('error') %}
                    <div class="bg-red-500/50 text-[#F1F1F1]-700 border-2 border-red-500 rounded-md w-fit text-center font-bold p-2 mt-2">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="flex justify-between mt-10">
                    <a class="font-bold text-[#202020] bg-[#65C986] rounded-md py-2 px-4 mt-2" href="{{ path('app_home') }}">
                        Home
                    </a>
                    <button type="submit" class="font-bold text-[#202020] bg-[#65C986] rounded-md py-2 px-4 mt-2">
                        Register
                    </button>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
