<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}

        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://kit.fontawesome.com/91edd70f05.js" crossorigin="anonymous"></script>

            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
        
    <body class="bg-[#F1F1F1] dark:bg-[#3B3C44] dark:text-[#F1F1F1] flex flex-col items-center min-h-screen w-full">

    {% if app.request.attributes.get('_route') in ['app_login','app_register'] %}
    {% else %}
        <header class="sticky top-0 left-0 w-full h-20 font-bold flex items-center justify-center z-50 bg-[#00424A] text-[#F1F1F1] px-10">
            <a class="flex w-full h-full items-center text-2xl" href="{{ path('app_home') }}">LEGENDARIFT</a>
            <div class="flex flex-row h-full w-full">
            {% if is_granted('ROLE_ADMIN')%}
            <a class="flex w-full h-full items-center hover:bg-[#E7C3C3]  justify-around" href="{{ path('app_champion_index') }}">Admin</a>
            {% else %}
            {% endif %}
            {% if app.request.attributes.get('_route') in ['app_create_index']  %}
                <a class="flex border-b-8 border-white  w-full h-full items-center justify-around" href="{{ path('app_create_index') }}">Create</a> 
            {% else %}
                <a class="flex hover:bg-[#E7C3C3] hover:text-black w-full h-full items-center justify-around" href="{{ path('app_create_index') }}">Create</a> 
            {% endif %}
            {% if app.request.attributes.get('_route') in ['app_build_front_index']  %}
                <a class="flex border-b-8 border-white w-full h-full items-center justify-around" href="{{ path('app_build_front_index') }}">Builds</a> 
            {% else %}
                <a class="flex hover:bg-[#E7C3C3] hover:text-black w-full h-full items-center justify-around" href="{{ path('app_build_front_index') }}">Builds</a> 
            {% endif %}
            {% if app.request.attributes.get('_route') in ['app_champion_front_index']  %} 
                <a class="flex border-b-8 border-white  w-full h-full items-center justify-around" href="{{ path('app_champion_front_index') }}">Champions</a> 
            {% else %}
                <a class="flex hover:bg-[#E7C3C3] hover:text-black w-full h-full items-center justify-around" href="{{ path('app_champion_front_index') }}">Champions</a>
            {% endif %}
            {% if app.request.attributes.get('_route') in ['app_article_front_index']  %} 
                <a class="flex border-b-8 border-white w-full h-full items-center justify-around" href="{{ path('app_article_front_index') }}">Articles</a> 
            {% else %}
                <a class="flex hover:bg-[#E7C3C3] hover:text-black w-full h-full items-center justify-around" href="{{ path('app_article_front_index') }}">Articles</a>
            {% endif %}  
            {% if app.user %}
                {% if app.request.attributes.get('_route') in ['app_profil_index']  %} 
                    <a class="flex border-b-8 border-white  w-full h-full items-center justify-around" href="{{ path('app_profil_index') }}">Profile</a> 
                {% else %}
                    <a class="flex hover:bg-[#E7C3C3] hover:text-black w-full h-full items-center justify-around" href="{{ path('app_profil_index') }}">Profile</a>
                {% endif %} 
            {% else %}
                <a class="flex hover:bg-[#E7C3C3] hover:text-black w-full h-full items-center justify-around" href="{{ path('app_login') }}">Login</a>
            {% endif %}
            </div>                   
        </header>        
    {% endif %}

    {% block body %}{% endblock %} 

    {% if app.request.attributes.get('_route') in ['app_login','app_register'] %}
    {% else %}       
        <footer class="bg-[#4A0026] flex flex-col pb-2 mt-auto w-full text-[#F1F1F1]">
        <div class="flex justify-evenly my-20">
            <div>
                <h1 class="text-xl font-bold mb-4">Legendarift :</h1>
                <ul class="underline space-y-4">
                    <li class="hover:font-bold">About us </li>
                    <li class="hover:font-bold">The crew</li>
                    <li class="hover:font-bold">Blog</li>
                </ul>
                </div>
            <div>
                <h1 class="text-xl font-bold mb-4">Social media :</h1> 
                    <div class="space-x-6">
                    <i class="fa-brands fa-facebook-f fa-xl"></i>
                    <i class="fa-brands fa-instagram fa-2xl"></i>
                    <i class="fa-brands fa-x-twitter fa-2xl"></i>
                    </div>
            </div>
            <div>
                <h1 class="text-xl font-bold mb-4">Ressources :</h1>
                <ul class="underline space-y-4">
                    <li class="hover:font-bold">Privacy policy</li>
                    <li class="hover:font-bold">Terms of use</li>
                    <li class="hover:font-bold">Help</li>
                </ul>
            </div>
        </div>
        <p class="text-right mr-10">© 2024 Legendarift. All rights reserved.</p>
        </footer>
    {% endif %}
    </body>
   
</html>
