{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}

<div class="mt-20 space-x-10">   
    <a href="{{ path('app_profil_index') }}" class="bg-[#65C986] hover:bg-[#C5C5C5] text-[#202020] font-bold py-2 px-3 rounded-md w-full">Back to profile</a>
    <a href="{{ path('app_article_front_index') }}" class="bg-[#65C986] hover:bg-[#C5C5C5] text-[#202020] font-bold py-2 px-3 rounded-md w-full">Back to articles</a>
</div>

    <div class="bg-[#FFFFFF] dark:bg-[#494A56] w-3/6 mb-40 mt-20 py-40 rounded-md flex flex-col items-center justify-center text-[#202020] dark:text-[#F1F1F1]">
    <h1 class="text-6xl font-bold mb-20">Article :</h1>
    <div class="w-4/6">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="flex justify-end mt-20">
                <button class="bg-[#65C986] rounded-md py-2 px-4 font-bold text-[#202020]">{{ button_label|default('Update') }}</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>

 

    
{% endblock %}
