{% extends 'base.html.twig' %}

{% block title %}All Article{% endblock %}

{% block body %}
    {% for article in articles %}
        <div class="text-center items-center h-full border-y-2 border-[#3B3C44]">
            <p>{{ article.title }}</p>
            <p>{{ article.build.title }}</p>
            <p>{{ article.introduction }}<br>{{ article.starterExplication }}<br>{{ article.coreExplication }}<br>{{ article.optionalExplication }}<br>{{ article.conclusion }}</p>
        </div>
    {% endfor %} 
{% endblock %}
