{% extends 'base.html.twig' %}

{% block title %}All Article{% endblock %}

{% block body %}
    <h1 class="text-4xl lg:text-6xl mt-14 lg:mb-28 mt-28 text-[#202020] dark:text-[#F1F1F1] font-bold">All Articles</h1>

    <p class="text-2xl mb-20 mx-20 text-center text-[#202020] dark:text-[#F1F1F1]">Contribute to our community by sharing your knowledge and ideas through articles and explanations.</p>

    <div class="fixed z-10 w-full px-10 mt-24 flex flex-col items-end space-y-4">
        {% for message in app.flashes('success') %}
            <div class="bg-green-500/50 text-[#F1F1F1]-700 border-2 border-green-500 rounded-md w-fit text-center font-bold p-2">
                {{ message }}
        </div>
        {% endfor %}
    </div>

    <div class="flex flex-col items-center w-full font-bold text-center px-8 lg:px-40 ">
        <a href="{{ path('app_create_article') }}" class="bg-[#65C986] hover:bg-[#C5C5C5] text-[#202020] py-2 px-3 rounded-xl mb-4 w-full">Create New Article</a>
    </div>
     
    <div class="flex flex-wrap w-full space-y-20 justify-center drop-shadow-lg mb-40 text-[#202020] dark:text-[#F1F1F1]">
        {% for article in articles %}
            <a href="{{ path('app_article_front_details' , {'title': article.title}) }}">
                <div class="flex flex-col text-center bg-[#FFFFFF] dark:bg-[#494A56] rounded-md h-[470px] w-64 mx-20 space-y-2">
                    <img src="{{ article.build.champion.splashArt }}" alt="{{ article.build.champion.name }}" class="rounded-tl-md rounded-tr-md w-full">
                    <div class="px-4 space-y-4 h-full ">
                        <p class="capitalize mt-4 text-2xl font-bold max-h-[64px] line-clamp-2 overflow-hidden text-ellipsis">{{ article.title }}</p>
                        <p>Build : 
                            <a class="hover:underline hover:text-[#65C986] capitalize italic" href="{{ path('app_build_front_details' , {'title': article.build.title}) }}">
                                {{ article.build.title }}
                            </a>
                        </p>
                        <p class="text-sm introduction line-clamp-6 overflow-hidden text-ellipsis">{{ article.introduction }}</p>
                    </div>
                    <div class="flex border-t-2 order-[#f1f1ff1] dark:border-[#3B3C44] mt-auto py-2 px-4 text-xs justify-between">
                        <p class="text-start">{{article.created|date("d/m/Y")}}</p>
                        <p class="text-end">By : {{article.user.username}}</p>
                    </div>
                    
                </div>
            </a>
        {% endfor %} 
    </div>
{% endblock %}
